<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363388118628-8ok7fml05v2g2n3vsip0nc50sjo23rva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363388118628-8ok7fml05v2g2n3vsip0nc50sjo23rva</string>
	<key>API_KEY</key>
	<string>AIzaSyBH5SIF_mxhHtiQoL6dsq0TP3ddugzs7fM</string>
	<key>GCM_SENDER_ID</key>
	<string>363388118628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elislade.Sipe-macOS</string>
	<key>PROJECT_ID</key>
	<string>sipe-7513a</string>
	<key>STORAGE_BUCKET</key>
	<string>sipe-7513a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363388118628:ios:bddbae60723462cc5a2171</string>
	<key>DATABASE_URL</key>
	<string>https://sipe-7513a.firebaseio.com</string>
</dict>
</plist>